{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Salvemos Canal Roya - Testimonios</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <style>
    #hero {
        background: linear-gradient(rgba(55, 142, 181, 0.5), rgba(55, 142, 181, 0.2)), url({% static 'img/canal-roya.webp' %}) top center;
    }
  </style>

  {% block extra_style %}{% endblock %}

  <!-- =======================================================
  * Template Name: Squadfree - v4.11.0
  * Template URL: https://bootstrapmade.com/squadfree-free-bootstrap-template-creative/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-transparent">
    <div class="container d-flex align-items-center justify-content-between position-relative">

      <div class="logo">
        <h1 class="text-light"><a href="{% url 'canalroya:testimonial-new' %}"><span>Salvemos Canal Roya</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="{% static 'assets/img/logo.png' %}" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{% url 'canalroya:testimonial-new' %}">Inicio</a></li>
          <li><a class="nav-link scrollto active" href="{% url 'canalroya:testimonial-new' %}#unirme">Unirme</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-up">
      {% block hero %}
      <h1>Bienvenido/a</h1>
      <h2>Gracias por defender Canal Roya</h2>
      <a href="#testimonials" class="btn-get-started scrollto"><i class="bx bx-chevrons-down"></i></a>
      {% endblock %}
    </div>
  </section><!-- End Hero -->

  <main id="main">
    {% block main %}
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>Testimonios</h2>
          <p>Algunas personas que ya han mostrado su apoyo.</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Nos cierran escuelas rurales, nos quitan las ambulancias y destrozan nuestros valles. El Pirineo no se vende, el Pirineo se defiende.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'img/saul-irigaray.jpeg' %}" class="testimonial-img" alt="">
                <h3>Saul Irigaray</h3>
                <h4>Ilustrador y Montañero. Bielsa y Jaca</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Necesitamos ser conscientes de la realidad a la que nos enfrentamos: cambio climático, agotamiento de recursos... Hoy es el momento de adoptar modelos de desarrollo sostenible, de respetar nuestro entorno, de cuidar nuestras montañas.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'img/santiago-lamora.jpeg' %}" class="testimonial-img" alt="">
                <h3>Santiago Lamora</h3>
                <h4>Ingeniero y Escalador. Villanova y Jaca</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Sólo después que el último árbol sea cortado, sólo después que el último río haya sido envenenado, sólo después que el último pez haya sido atrapado, sólo entonces nos daremos cuenta que no nos podemos comer el dinero
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'img/silvia-naval.jpeg' %}" class="testimonial-img" alt="">
                <h3>Silvia Naval</h3>
                <h4>Profesora de Economía y Esquiadora. Valle de Benasque</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Dicen que la ganadería extensiva no es la solución. Sin embargo olvidan que es un modelo que perdura desde hace siglos integrándose a la perfección en nuestros valles. ¿Ocurre lo mismo con el hormigón, el hierro y el turismo masivo?
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'img/pablo-lamora.jpeg' %}" class="testimonial-img" alt="">
                <h3>Pablo Lamora</h3>
                <h4>Ganadero y Músico. Valle de Benasque</h4>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= New Testimonial Section ======= -->
    <section id="unirme" class="services section-bg">
      <div class="container">
        {% block content %}{% endblock content %}
      </div>
    </section><!-- End New Testimonial Section -->
  {% endblock main %}
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Salvemos Canal Roya</span></strong>. Todos los derechos reservados
      </div>
      <div class="credits">
        Desarrollado por <a href="https://santiagolamora.com">Ribaguifi</a> //
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/squadfree-free-bootstrap-template-creative/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>
