{% extends "canalroya/base.html" %}

{% block hero %}
<h1>Testimonios</h1>
<h2>Personas que defienden Canal Roya</h2>
<a href="#testimonials" class="btn-get-started scrollto"><i class="bx bx-chevrons-down"></i></a>
{% endblock %}

{% block extra_style %}
<style>
  .rg-testimonial-intro {
    text-align: center;
    color: #54595f;
    font-family: "Raleway", Sans-serif;
    font-size: 20px;
    font-weight: 500;
  }

  .rg-testimonial {
    margin-top: 1.5em;
    text-align: center;
  }

  .rg-testimonial .card {
    background-color: #f8f1e2;
    border: none;
  }

  .rg-testimonial .rg-team-member-name {
    color: #21262f;
    font-family: "Raleway", Sans-serif;
    font-weight: 600;
  }

  .rg-testimonial .rg-team-member-position {
    color: #54595f;
    font-family: "Raleway", Sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .05em;
    margin: 5px 0 10px;
    text-transform: uppercase;
  }

  .rg-testimonial .rg-team-text {
    color: #54595f;
    font-family: "Raleway", Sans-serif;
    font-size: 16px;
  }

  #share .icon a {
    margin-right: 1.5em;
  }

</style>
{% endblock %}

{% block main %}
<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials section-bg">
  <div class="container">
      <p class="rg-testimonial-intro"><strong>Uno de los argumentos que usan los promotores del proyecto para justificar esta
          brutal agresión a nuestras montañas es que la mayoría de la gente del territorio apoya el proyecto. Nada más lejos
          de la realidad.</strong> Vecinos de todos los valles junto con Aragón entero, científicos, esquiadores, montañeros y
        amigos de los Pirineos de todos los rincones… demostramos que no es verdad.</p>

      <div class="row">
      {% for obj in object_list %}
        <div class="col-12 col-md-4 rg-testimonial">
          <div class="card">
            <img src="{{ obj.image.url }}" class="card-img-top" alt="{{ obj.get_full_name }}">
            <div class="card-body">
              <h5 class="card-title rg-team-member-name">{{ obj.get_full_name }}</h5>
              <h6 class="rg-team-member-position">{{ obj.profession}}, {{ obj.city }}</h6>
              <p class="card-text rg-team-text">"{{ obj.comment }}"</p>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>

  </div>
</section>

<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
  <div class="container aos-init aos-animate" data-aos="zoom-in">

    <div class="text-center">
      <p>¡Únete a la voz de la montaña!</p>
      <a class="cta-btn" href="{% url 'canalroya:testimonial-new' %}#unirme">Deja tu testimonio</a>
    </div>

  </div>
</section>
<!-- End Cta Section -->

<!-- ======= Share Section ======= -->
<section id="share" class="testimonials section-bg">
  <div class="container">
    <div class="section-title" data-aos="fade-in" data-aos-delay="100">
      <h2>Invita a más gente a unirse</h2>
      <p>Comparte esta web para que otras personas se unan a la defensa de Canal Roya.</p>

      <div class="services mt-5">
        <div class="icon">
          <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank" rel="nofollow noopener"><i class="bi bi-facebook"></i></a>
          <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text=&via=" target="_blank" rel="nofollow noopener"><i class="bi bi-twitter"></i></a>
          <a href="https://www.linkedin.com/shareArticle?url={{ request.build_absolute_uri }}&title=" target="_blank" rel="nofollow noopener"><i class="bi bi-linkedin"></i></a>
          <a href="whatsapp://send?text={{ request.build_absolute_uri }}" target="_blank" rel="nofollow noopener"><i class="bi bi-whatsapp"></i></a>
          <a href="https://telegram.me/share/url?url={{ request.build_absolute_uri }}&text=" target="_blank" rel="nofollow noopener"><i class="bi bi-telegram"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
