{% extends "canalroya/base.html" %}

{% block hero %}
{% endblock %}

{% block extra_style %}
<style>
  .rg-testimonial {
    margin-top: 1.5em;
    text-align: center;
  }

  .rg-testimonial .card {
    background-color: #f8f1e2;
    border: none;
  }

  .rg-testimonial .rg-team-member-name {
    color: #21262f;
    font-family: "Raleway", Sans-serif;
    font-weight: 600;
  }

  .rg-testimonial .rg-team-member-position {
    color: #54595f;
    font-family: "Raleway", Sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .05em;
    margin: 5px 0 10px;
    text-transform: uppercase;
  }

  .rg-testimonial .rg-team-text {
    color: #54595f;
    font-family: "Raleway", Sans-serif;
    font-size: 16px;
  }

  #share .icon a {
    margin-right: 1.5em;
  }


  h1.page-title {
    font-family: "Suez One", Sans-serif;
    font-size: 33px;
    font-weight: 400;
    line-height: 1em;
    position: relative;
    top: -3em;
    color: white;
    background-color: #ecbe1e;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
  }

  .testimonials {
    margin-top: -7.5em;
  }

  .counts .count-box {
    width: auto;
  }

  .counts .count-box i {
    color: #54595f;
  }

  .counts .count-box p,
  .counts .count-box span {
    color: #21262f;
  }

  .active>.page-link,
  .page-link.active {
    /* color: var(--bs-pagination-active-color); */
    /* background-color: var(--bs-pagination-active-bg); */
    /* border-color: var(--bs-pagination-active-border-color); */
    color: white;
    background-color: #ecbe1e;
    border-color: #ecbe1e;
  }

  @media (min-width: 768px) {
    h1.page-title {
      font-size: 75px;
      top: -2em;
    }

    .testimonials {
      margin-top: -10em;
    }
  }

  @media (min-width: 1200px) {
    h1.page-title {
      font-size: 111px;
      top: -1.2em;
    }

    .testimonials {
      margin-top: -5em;
    }
  }

</style>
{% endblock %}

{% block main %}
<div id="testimonials" class="d-flex justify-content-center">
  <h1 class="page-title">Somos la voz<br>de la montaña</h1>
</div>

<!-- ======= Testimonials Section ======= -->
<section id="testimonials-content" class="testimonials counts">
  <div class="container">

    <div class="row justify-content-end">


      <div class="col-auto col-md-4">
        <div class="count-box pt-0">
          <i class="bi bi-person-bounding-box"></i>
          <span data-purecounter-start="0" data-purecounter-end="{{ page_obj.paginator.count }}"
            data-purecounter-duration="1" class="purecounter">{{ page_obj.paginator.count }}</span>
          <p><strong>Testimonios</strong> de {{ region_name }}</p>
        </div>
      </div>

      <div class="col-auto col-md-4 text-end">
        <div class="dropdown">
          <a class="btn btn-warning dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Filtrar por región
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item"
                href="{% url 'canalroya:testimonial-list' %}?region=huesca#testimonials">Huesca</a></li>
            <li><a class="dropdown-item"
                href="{% url 'canalroya:testimonial-list' %}?region=aragon#testimonials">Aragón</a></li>
            <li><a class="dropdown-item" href="{% url 'canalroya:testimonial-list' %}#testimonials">Todas las
                regiones</a></li>
          </ul>
        </div>
      </div>

    </div>

    <div class="row">
      {% for obj in object_list %}
      <div class="col-12 col-md-4 rg-testimonial">
        <div class="card">
          <img src="{{ obj.image.url }}" class="card-img-top" alt="{{ obj.get_full_name }}">
          <div class="card-body">
            <h5 class="card-title rg-team-member-name">{{ obj.get_full_name }}</h5>
            <h6 class="rg-team-member-position">{{ obj.profession}}, {{ obj.city }}</h6>
            <p class="card-text rg-team-text">"{{ obj.comment }}"</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="mt-5 row justify-content-center">
      {% include "canalroya/testimonial_pagination.html" %}
    </div>

  </div>
</section>

{% endblock %}
