{% extends "canalroya/testimonial_list.html" %}
{% block main %}
<div id="testimonials" class="d-flex justify-content-center">
  <h1 class="page-title">Somos la voz<br>de la montaña</h1>
</div>


<!-- ======= Testimonials Section ======= -->
<section id="testimonials-content" class="testimonials counts">
  <div class="container text-center">
    <h2>VISTA PREVIA</h2>
    <p>
      Aquí puedes ver cómo se verá tu testimonio una vez publicado.<br>
      En caso de que haya algún error <a href="{% url 'canalroya:testimonial-update' object.slug %}#unirme">pulsa aquí para editarlo</a>
    </p>
    <div class="row justify-content-center">
      {% with object as obj %}
      <div class="col-12 col-md-4 rg-testimonial">
        <div class="card">
          <img src="{{ obj.image.url }}" class="card-img-top" alt="{{ obj.get_full_name }}">
          <div class="card-body">
            <h5 class="card-title rg-team-member-name">{{ obj.get_full_name }}</h5>
            <h6 class="rg-team-member-position">{{ obj.profession}}, {{ obj.city }}</h6>
            <p class="card-text rg-team-text">"{{ obj.comment }}"</p>
          </div>
        </div>
      </div>
      {% endwith %}
    </div>
    <div class="mt-4">
      <a class="btn btn-outline-warning" href="{% url 'canalroya:testimonial-update' object.slug %}#unirme">Editar</a>
      {% if object.status == object.Status.DRAFT %}
      <form method="post" class="d-inline">
        {% csrf_token %}
        <div class="d-none">
          {{ form }}
        </div>
        <button class="ms-3 btn btn-outline-success" type="submit">
          <i class="bi bi-send"></i>
          Enviar testimonio
        </button>
      </form>
      {% endif %}
    </div>
    <h5 class="mt-4">Esta página es privada y sólo deberías acceder tú.<br> Por favor, no la compartas.</h5>
  </div>

</section>
{% endblock %}
