{% extends "canalroya/testimonial_list.html" %}
{% load i18n %}
{% block main %}
<div id="testimonials" class="d-flex justify-content-center">
  <h1 class="page-title">Somos la voz<br>de la montaña</h1>
</div>

<!-- ======= Testimonials Section ======= -->
<section id="testimonials-content" class="testimonials counts">
  <div class="container text-center">
    <h2>{% trans "VISTA PREVIA" %}</h2>

    <div class="row justify-content-center">
      {% with object as obj %}
      <div class="col-12 col-md-6 col-lg-4 rg-testimonial">
        <p>
          {% trans "Aquí puedes ver <strong>una vista previa</strong> de tu testimonio." %}<br>
          {% url 'canalroya:testimonial-update' object.slug as url_update %}
          {% trans "Por favor, revisa que todo esté correcto. Todavía estás a tiempo de <a href='%(url_update)#unirme'>cambiar lo que consideres</a>." %}
        </p>
        {% if object.status == object.Status.DRAFT %}
          <p>
          {% trans "Cuando hayas terminado, <strong>recuerda pulsar</strong>" %}
           <span class="text-success">
            <i class="bi bi-send"></i> {% trans "Enviar testimonio" %}</span>.
          </p>
          {% endif %}
        <div class="card">
          <div class="watermark watermark-text">{% trans "BORRADOR" %}</div>
          <img src="{{ obj.image.url }}" class="card-img-top" alt="{{ obj.get_full_name }}">
          <div class="card-body">
            <h5 class="card-title rg-team-member-name">{{ obj.get_full_name }}</h5>
            <h6 class="rg-team-member-position">{{ obj.profession}}, {{ obj.city }}</h6>
            <p class="card-text rg-team-text">"{{ obj.comment }}"</p>
          </div>
        </div>
      </div>
      {% endwith %}
    </div>
    <div class="mt-4">
      <a class="btn btn-outline-warning" href="{% url 'canalroya:testimonial-update' object.slug %}#unirme">{% trans "Editar" %}</a>
      {% if object.status == object.Status.DRAFT %}
      <form method="post" class="d-inline">
        {% csrf_token %}
        <div class="d-none">
          {{ form }}
        </div>
        <button class="ms-3 btn btn-outline-success" type="submit">
          <i class="bi bi-send"></i>
          {% trans "Enviar testimonio" %}
        </button>
      </form>
      {% endif %}
    </div>
    <h5 class="mt-4">{% trans "Esta página es privada y sólo deberías acceder tú.<br> Por favor, no la compartas." %}</h5>
  </div>

</section>
{% endblock %}
