{% extends "canalroya/base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<div class="section-title" data-aos="fade-in" data-aos-delay="100">
  <h2>Únete</h2>
  <p>Manifiesta tu apoyo en defensa de Canal Roya.</p>
</div>

<div class="card p-3" data-aos="fade-up">
  <div class="card-body">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form form %}

      <button class="btn btn-success" type="submit">Enviar</button>
      <button class="btn btn-outline-danger" type="reset">Cancelar</button>

    </form>
  </div>
</div>


{% endblock %}
