:root {
--bs-link-color: #cea840;
--bs-link-hover-color: #ecbe1e;
}

a {
    color: #cea840;
}

a:hover {
    color: #ecbe1e;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Suez One", Sans-serif;
}

.back-to-top {
    background: #cea840;
    border: 1px solid #7a7a7a;
}

#header .logo img {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    width: 120px;
    max-height: 120px;
}

#header.header-scrolled {
    background: #ecbe1e;
}

#header.header-scrolled .logo img {
    width: 60px;
}

#header #navbar .nav-link {
    font-family: "Suez One", Sans-serif;
    text-transform: uppercase;
}

.navbar-mobile {
    background: rgba(236, 190, 30, 0.9);
    text-align: center;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover>a {
    color: #ecbe1e;
}

.navbar-mobile a, .navbar-mobile a:focus {
    color: #cea840;
    display: block;
}

#hero {
    background: url('../img/anayet-midi-md.webp') top center;
    background-size: cover;
}

.testimonial-new #hero {
    background: url('../img/canalroya-anayet.webp') top center;
    background-size: cover;
}

.testimonial-list #hero {
    background: url('../img/canal-roya-pano.webp') top center;
    background-size: cover;
}

#hero h1 {
    font-family: "Suez One", Sans-serif;
    font-size: 10vw;
    font-weight: 400;
    line-height: 0.8em;
}

#hero h2 {
    font-size: 4vw;
}

#pre-footer {
    background: #447587;
    color: white;
    text-align: center;
}

#pre-footer .logo img.img-fluid {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    width: 120px;
    max-height: 120px;
}

#pre-footer p {
    font-family: "Raleway", Sans-serif;
    font-weight: 600;
}

#pre-footer .btn.btn-warning {
    font-family: "Suez One", Sans-serif;
    font-size: 36px;
    color: white;
    background-color: #ecbe1e;
}


#pre-footer .social-links .icon i {
    background-color: #ecbe1e;
}

#pre-footer .social-links .icon i,
#pre-footer .social-share .icon i {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    font-size: 1.6em;
    line-height: 1.8em;
    margin-right: 0.25em;
    color: white;
    border-radius: 100%;
}

#pre-footer .social-share .bi-facebook {
    background-color: #39568c;
}

#pre-footer .social-share .bi-twitter {
    background-color: #1399de;
}

#pre-footer .social-share .bi-whatsapp {
    background-color:#27bf67;
}

#pre-footer .social-share .bi-telegram {
    background-color:#269bd0;
}

#pre-footer .social-share .bi-envelope {
    background-color: #d64139;
}

#footer {
    background: #244251;
}

#unirme {
    background: #ecbe1e;
}


#unirme .section-title h2 {
    color: white;
    font-family: "Suez One", Sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 46px;
}

#unirme .section-title h2::after {
    background: none;
}

#unirme p {
    color: #000000;
    font-family: "Raleway", Sans-serif;
    font-size: 20px;
    font-weight: 600;
}


@media (min-width: 992px) {
    #hero {
        background: url('../img/anayet-midi.webp') top center;
        background-size: cover;
    }
}

@media (min-width: 1200px) {
    #hero h1 {
        font-size: 8vw;
    }

    #hero h2 {
        font-size: 3.5vw;
    }

    #hero h1.testimonial-form {
        font-size: 4vw;
        line-height: 1em;
    }

    #hero h2.testimonial-form {
        font-size: 2vw;
        text-transform: unset;
    }

    #footer .copyright {
        width: 50%;
        margin: auto;
    }
}
