#header .logo img {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    width: 120px;
    max-height: 120px;
}

#header.header-scrolled {
    background: #ecbe1e;
}

#header.header-scrolled .logo img {
    width: 60px;
}

#header #navbar .nav-link {
    text-transform: uppercase;
}

#hero {
    background: url('../img/anayet-midi-md.webp') top center;
    background-size: cover;
}

#hero h1 {
    font-family: "Suez One", Sans-serif;
    font-size: 10vw;
    font-weight: 400;
    line-height: 0.8em;
}

#hero h2 {
    font-size: 4vw;
}

#unirme {
    background: #ecbe1e;
}


#unirme .section-title h2 {
    color: white;
    font-family: "Suez One", Sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 46px;
}

#unirme .section-title h2::after {
    background: none;
}

#unirme p {
    color: #000000;
    font-family: "Raleway", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}


@media (min-width: 992px) {
    #hero {
        background: url('../img/anayet-midi.webp') top center;
        background-size: cover;
    }
}

@media (min-width: 1200px) {
    #hero h1 {
        font-size: 8vw;
    }

    #hero h2 {
        font-size: 3.5vw;
    }

    #hero h1.testimonial-form {
        font-size: 4vw;
        line-height: 1em;
    }

    #hero h2.testimonial-form {
        font-size: 2vw;
        text-transform: unset;
    }
}
